#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:ro.boot.rf_version=1
    setprop ro.boot.hardware.revision "IN"

on property:ro.boot.rf_version=11
    setprop ro.boot.hardware.revision "ID"
