#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Reserve
/dev/block/bootdevice/by-name/oplusreserve1    0660    root    system

# WiFi
firmware_directories /mnt/vendor/persist/copy/ /mnt/vendor/persist/ /odm/etc/wifi/ /vendor/firmware_mnt/image/qca6390/ /vendor/firmware_mnt/image/qca6490/ /vendor/firmware_mnt/image/
